---
type: homepage
---

<div class="row">
  <div class="col-xl-6 col-md-6">
    <h2>Helpful Links</h2>
    <ul>
      <li>
        <a href="https://online-lexi-com.proxy.medlib.uits.iu.edu/lco/action/home?siteid=984" target="_blank">Lexicomp</a>
      </li>
      <li>
        <a href="https://www-uptodate-com.proxy.medlib.uits.iu.edu/contents/search">Up-to-Date</a>
      </li>
      <li>
        <a href="https://www-micromedexsolutions-com.proxy.medlib.uits.iu.edu/micromedex2/librarian/ssl/true" target="_blank">Micromedex</a>
      </li>
      <li>
        <a href="https://pubmed-ncbi-nlm-nih-gov.proxy.medlib.uits.iu.edu/?otool=iusomlib" target="_blank">Pubmed</a>
      </li>
      <li>
        <a href="https://webedition.sanfordguide.com/en">Sanford Guide</a>
      </li>
      <li>
        <a href="http://tools.acc.org/ASCVD-Risk-Estimator-Plus/" target="_blank">ASCVD Risk Calculator</a>
      </li>
      <li>
        <a href="http://globalrph.com" target="_blank">Global RPh</a>
      </li>
      <li>
        <a href="https://www.pharmgkb.org" target="_blank">PharmGKB</a>
      </li>
      <li>
        <a href="https://www.cdc.gov/vaccines/schedules/index.html" target="_blank">CDC Vaccination Schedule</a>
      </li>
      <li>
        <a href="http://errolozdalga.com/medicine/pages/OtherPages/AntibioticReview.ChanuRhee.html" target="_blank">Abx Review</a>
      </li>
      <li>
        <a href="http://www.warfarindosing.org/Source/Home.aspx" target="_blank">Warfarin Dosing</a>
      </li>
    </ul>
  </div>

  <div class="col-xl-6 col-md-6">
    <table>
      <caption>Expiration Dates</caption>
      <tbody>
        <tr>
          <td>Today</td>
          <td id="today"></td>
        </tr>
        <tr>
          <td>14d</td>
          <td id="day14"></td>
        </tr>
        <tr>
          <td>28d</td>
          <td id="day28"></td>
        </tr>
        <tr>
          <td>30d</td>
          <td id="day30"></td>
        </tr>
        <tr>
          <td>60d</td>
          <td id="day60"></td>
        </tr>
        <tr>
          <td>180d</td>
          <td id="day180"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Expiration Date Script -->
<script>
Date.prototype.addDays = function(days) {
    var date = new Date(this.valueOf());
    date.setDate(date.getDate() + days);
    return date;
}

function dates() {
  var today = new Date();

  document.getElementById("today").innerHTML = today.toLocaleDateString("en-US");
  document.getElementById("day14").innerHTML = (today.addDays(14)).toLocaleDateString("en-US");
  document.getElementById("day28").innerHTML = (today.addDays(28)).toLocaleDateString("en-US");
  document.getElementById("day30").innerHTML = (today.addDays(30)).toLocaleDateString("en-US");
  document.getElementById("day60").innerHTML = (today.addDays(60)).toLocaleDateString("en-US");
  document.getElementById("day180").innerHTML = (today.addDays(180)).toLocaleDateString("en-US");
}

window.onload = dates;
</script>
