---
title: About
type: single
---
<div class="row">
  <div class="col col-md-auto col-sm-12" style="padding-bottom: 2em;">
    <div class="card" style="width: 18em;">
      <img class="card-img-top" src="/favicon/favicon.ico" alt="Corbin Cox">
      <div class="card-body">
        <h5 class="card-title">Corbin Cox</h5>
        <hr>
        <p class="card-text">
          PharmD <br>
          Purdue College of Pharmacy <br>
          Class of 2020 <br>
          <hr>
          4<sup>th</sup> Year Medical Student <br>
          IU School of Medicine <br>
          Class of 2024
        </p>
      </div>
    </div>
  </div>

  <div class="col col-md col-sm-12">
    <h2>About Me</h2>
    <p>Corbin Cox is a pharmacist and 4<sup>th</sup> year medical student at the IU School of Medicine. He is interested in emergency medicine, internal medicine, critical care, and toxicology. </p>
  </div>

</div>
