---
title: "Dosing Calculator"
url: /dosingCalculator
date: 2021-05-27T16:13:48-04:00
type: single
draft: false
---
<div class="row">

<div class="col-md-6 col-sm-12">
<form>
  <table class="table table-sm">
    <caption>Basic Parameters</caption>
    <tbody>
      <tr>
        <td><label for="drugSelection">Dosing?</label></td>
        <td colspan="2">
          <select oninput="updatePageContent()" name="drugSelection" id="drugSelectionInput">
            <option value="vancInitial" selected>Vancomycin - Pop. Kinetics</option>
            <option value="vancPkTr">Vancomycin - Pk/Tr</option>
            <option value="agInitial">Aminoglycosides - Pop. Kinetics</option>
            <option value="agPkTr">Aminoglycosides - Pk/Tr</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="sex">Sex</label></td>
        <td><select oninput="updateOutputs()" name="sex" id="sexInput">
          <option value="male" selected>Male</option>
          <option value="female">Female</option>
        </select></td>
        <td></td>
      </tr>
      <tr>
        <td><label for="age">Age</label></td>
        <td><input type="number" onkeyup="updateOutputs()" name="age" id="ageInput" value=""></td>
        <td>(yr)</td>
      </tr>
      <tr>
        <td><label for="height">Height</label></td>
        <td><input type="number" onkeyup="updateOutputs()" name="height" id="heightInput" value=""></td>
        <td><select oninput="updateOutputs()" name="heightUnits" id="heightUnitsInput">
          <option value="in" selected>in</option>
          <option value="cm">cm</option>
        </select></td>
      </tr>
      <tr>
        <td><label for="weight">Weight</label></td>
        <td><input type="number" onkeyup="updateOutputs()" name="weight" id="weightInput" value=""></td>
        <td><select oninput="updateOutputs()" name="weightUnits" id="weightUnitsInput">
          <option value="kg" selected>kg</option>
          <option value="lbs">lbs</option>
        </select></td>
      </tr>
      <tr>
        <td><label for="scr">SCr</label></td>
        <td><input type="number" onkeyup="updateOutputs()" name="scr" id="scrInput" value=""></td>
        <td>(mg/dL)</td>
      </tr>
      <tr>
        <td><label for="crcl">CrCL</label></td>
        <td><input type="number" onkeyup="updateOutputs()" name="crcl" id="crclInput" value=""></td>
        <td>(mL/min)</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm">
    <caption>Pharmacokinetic Data</caption>
    <tbody>
    <tr class="levelOnly">
      <td>Peak</td>
      <td><input type="number" onkeyup="updateOutputs()" name="pkMeasured" id="pkMeasuredInput" value=""></td>
      <td>(mcg/mL)</td>
    </tr>
    <tr class="levelOnly">
      <td>Trough</td>
      <td><input type="number" onkeyup="updateOutputs()" name="trMeasured" id="trMeasuredInput" value=""></td>
      <td>(mcg/mL)</td>
    </tr>
    <tr class="levelOnly">
      <td>Pk-Max Interval</td>
      <td><input type="number" onkeyup="updateOutputs()" name="pkMaxInterval" id="pkMaxIntervalInput" value=""></td>
      <td>(hr)</td>
    </tr>
    <tr class="levelOnly">
      <td>Tr-Min Interval</td>
      <td><input type="number" onkeyup="updateOutputs()" name="trMinInterval" id="trMinIntevalInput" value=""></td>
      <td>(hr)</td>
    </tr>
    <tr class="levelOnly">
      <td>Pk-Tr Interval</td>
      <td><input type="number" onkeyup="updateOutputs()" name="pkTrInterval" id="pkTrIntevalInput" value=""></td>
      <td>(hr)</td>
    </tr>
    <tr class="levelOnly">
      <td><label for="zeroForTrough">Use 0 for Vd Trough Calculation</label></td>
      <td>
        <input onclick="updateOutputs()" type="radio" name="zeroForTrough" id="zeroForTroughYes" value=true><label for="zeroForTroughYes">Yes</label>
        <input onclick="updateOutputs()" type="radio" name="zeroForTrough" id="zeroForTroughNo" value=false checked><label for="zeroForTroughNo">No</label>
      </td>
      <td></td>
    </tr>
    <tr class="levelOnly">
      <td>Current Dose</td>
      <td><input type="number" onkeyup="updateOutputs()" name="currentDose" id="currentDoseInput" value=""></td>
      <td>(mg)</td>
    </tr>
    <tr class="levelOnly">
      <td>Current &tau;</td>
      <td><input type="number" onkeyup="updateOutputs()" name="currentTau" id="currentTauInput" value=""></td>
      <td>(hr)</td>
    </tr>
    <tr class="levelOnly">
      <td>Current t<sub>inf</sub></td>
      <td><input type="number" onkeyup="updateOutputs()" name="currentTinf" id="currentTinfInput" value=""></td>
      <td>(hr)</td>
    </tr>
    <tr class="initialOnly">
      <td>V<sub>d</sub></td>
      <td><input type="number" onkeyup="updateOutputs()" name="selectedVd" id="selectedVdInput" value=""></td>
      <td>(L)</td>
    </tr>
    <tr>
      <td>Goal Peak</td>
      <td><input type="number" onkeyup="updateOutputs()" name="goalPk" id="goalPkInput" value=""></td>
      <td>(mcg/mL)</td>
    </tr>
    <tr>
      <td>Goal Trough</td>
      <td><input type="number" onkeyup="updateOutputs()" name="goalTr" id="goalTrInput" value=""></td>
      <td>(mcg/mL)</td>
    </tr>
    <tr>
      <td>t<sub>inf</sub></td>
      <td><input type="number" onkeyup="updateOutputs()" name="selectedTinf" id="selectedTinfInput" value=""></td>
      <td>(hr)</td>
    </tr>
    </tbody>
  </table>
  <table class="table table-sm">
    <caption>Final Regimen</caption>
    <tbody>
    <tr>
      <td>&tau;</td>
      <td><input type="number" onkeyup="updateOutputs()" name="selectedTau" id="selectedTauInput" value=""></td>
      <td>(hr)</td>
    </tr>
    <tr>
      <td>Dose</td>
      <td><input type="number" onkeyup="updateOutputs()" name="selectedDose" id="selectedDoseInput" value=""></td>
      <td>(mg)</td>
    </tr>
    </tbody>
  </table>
</form>
</div>

<div class="col-md-6 col-sm-12">
<table class="table table-sm">
  <caption>Body Weights</caption>
  <tbody>
    <tr>
      <td>Wt</td> <td id="wtValue"></td> <td>(kg)</td>
    </tr>
    <tr>
      <td>IBW</td> <td id="ibwValue"></td> <td>(kg)</td>
    </tr>
    <tr>
      <td>Adj. Wt</td> <td id="adjwtValue"></td> <td>(kg)</td>
    </tr>
    <tr>
      <td>BMI</td> <td id="bmiValue"></td> <td>(kg/m<sup>2</sup>)</td>
    </tr>
    <tr>
      <td>BSA</td> <td id="bsaValue"></td> <td>(m<sup>2</sup>)</td>
    </tr>
  </tbody>
</table>

<table class="table table-sm">
  <caption>Renal Function</caption>
  <tbody>
    <tr>
      <td>CG-CrCL (calc.) <span id="crclWeightOutput"></span></td> <td id="cgcrclCalcValue"></td> <td>(mL/min)</td>
    </tr>
    <tr>
      <td>CG-CrCL (input)</td> <td id="cgcrclInputValue"></td> <td>(mL/min)</td>
    </tr>
  </tbody>
</table>

<table class="table table-sm">
  <caption>PK <span class="initialOnly">Population</span><span class="levelOnly">Patient</span> Parameters</caption>
  <tbody>
    <tr>
      <td>k</td> <td id="kValue"></td> <td>(hr<sup>-1</sup>)</td>
    </tr>
    <tr>
      <td>t<sub>1/2</sub></td> <td id="halfLifeValue"></td> <td>(hr)</td>
    </tr>
    <tr>
      <td>V<sub>d</sub> (population)</td> <td id="vdwtRangeValue"></td> <td>(L/kg)</td>
    </tr>
    <tr>
      <td>V<sub>d</sub> (population)</td> <td id="vdRangeValue"></td> <td>(L)</td>
    </tr>
    <tr>
      <td>V<sub>d</sub></td> <td id="vdwtInputValue"></td> <td>(L/kg)</td>
    </tr>
    <tr>
      <td>V<sub>d</sub></td> <td id="vdInputValue"></td> <td>(L)</td>
    </tr>
  </tbody>
</table>

<table class="table table-sm">
  <caption>Regimen Selection</caption>
  <tbody>
    <tr>
      <td>&tau; (calc)</td> <td id="tauEstValue"></td> <td>(hr)</td>
    </tr>
    <tr>
      <td>MD (calc)</td> <td id="mdEstValue"></td> <td>(mg)</td>
    </tr>
    <tr>
      <td>&tau; (input)</td> <td id="tauInputValue"></td> <td>(hr)</td>
    </tr>
    <tr>
      <td>MD (input)</td> <td id="mdInputValue"></td> <td>(mg)</td>
    </tr>
  </tbody>
</table>

<table class="table table-sm">
  <caption>Regimen Confirmation</caption>
  <tbody>
    <tr>
      <td>C<sub>max</sub></td> <td id="cmaxValue"></td> <td>(mcg/L)</td>
    </tr>
    <tr>
      <td>C<sub>min</sub></td> <td id="cminValue"></td> <td>(mcg/L)</td>
    </tr>
    <tr class="vancOnly">
      <td>AUC<sub>0&ndash;24</sub></td> <td id="aucValue"></td> <td>(mcg*hr/L)</td>
    </tr>
  </tbody>
</table>

</div>

</div>

<div class="vancOnly table-responsive-sm">
<table class="table table-sm">
  <caption>Vancomycin Dosing Table</caption>
  <tbody>
    <tr>
      <th></th>
      <th>750mg</th>
      <th>1000mg</th>
      <th>1250mg</th>
      <th>1500mg</th>
      <th>1750mg</th>
      <th>2000mg</th>
    </tr>
    <tr>
      <th>Q8H</th>
      <td id="75q8"></td>
      <td id="1q8"></td>
      <td id="125q8"></td>
      <td id="15q8"></td>
      <td id="175q8"></td>
      <td id="2q8"></td>
    </tr>
    <tr>
      <th>Q12H</th>
      <td id="75q12"></td>
      <td id="1q12"></td>
      <td id="125q12"></td>
      <td id="15q12"></td>
      <td id="175q12"></td>
      <td id="2q12"></td>
    </tr>
    <tr>
      <th>Q18H</th>
      <td id="75q18"></td>
      <td id="1q18"></td>
      <td id="125q18"></td>
      <td id="15q18"></td>
      <td id="175q18"></td>
      <td id="2q18"></td>
    </tr>
    <tr>
      <th>Q24H</th>
      <td id="75q24"></td>
      <td id="1q24"></td>
      <td id="125q24"></td>
      <td id="15q24"></td>
      <td id="175q24"></td>
      <td id="2q24"></td>
    </tr>
    <tr>
      <th>Q36H</th>
      <td id="75q36"></td>
      <td id="1q36"></td>
      <td id="125q36"></td>
      <td id="15q36"></td>
      <td id="175q36"></td>
      <td id="2q36"></td>
    </tr>
    <tr>
      <th>Q48H</th>
      <td id="75q48"></td>
      <td id="1q48"></td>
      <td id="125q48"></td>
      <td id="15q48"></td>
      <td id="175q48"></td>
      <td id="2q48"></td>
    </tr>
  </tbody>
</table>
</div>
<div class="vancOnly">
  <label for="drugSelection">Infusion Times</label>
  <select oninput="updateOutputs()" name="infusionTimeSelection" id="infusionTimeSelectionInput">
    <option value="all2Hours" selected>Infuse All Over 2 Hours</option>
    <option value="gradedInfusionTimes">&le;1g &ndash; 1hr, 1.25&ndash;1.5g &ndash; 1.5hr, &ge;1.75g &ndash; 2hr</option>
  </select>
</div>


<style media="screen">
  .initialOnly {
    display: revert;
  }
  .levelOnly {
    display: none;
  }
  .vancOnly {
    display: revert;
  }
  .agOnly {
    display: none;
  }
</style>
<script src="/js/abxDosingCalculator.js"></script>
