<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <div class="flex-wrapper">
      {{ partial "nav.html" . }}
      <main id="main">
       {{ block "main" . }}{{ end }}
      </main>
      {{ partial "footer.html" . }}
    </div>  
  </body>
</html>
