{{ define "main" }}

<div class="jumbotron jumbotron-fluid"> <!-- allows jumbotron to span page -->
  <div class="container-fluid"> <!-- allows jumbotron content to span page -->
    <h3 id="jumbotronPageTitle" class="text-center">{{ .Title }}</h3>
  </div>
</div>


<div class="container-fluid content">
  {{ range .Pages.ByPublishDate.Reverse }}
  <p>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </p>
  {{ end }}
</div>

{{ end }}
