{{ define "main" }}

<div class="jumbotron jumbotron-fluid"> <!-- allows jumbotron to span page -->
  <div class="container-fluid"> <!-- allows jumbotron content to span page -->
    <h3 id="jumbotronPageTitle" class="text-center">{{ .Title }}</h3>
  </div>
</div>

<div class="container-fluid content">
  {{ if .Params.toc }}
    <div class="row">
      <div class="col-md-3 col-sm-12">

        <div class="dropdown">
          <button class="btn btn-primary w-100" type="button" href="#tocCollapse" id="tocCollapseButton" data-toggle="collapse" aria-expanded="false">
          Table of Contents
          </button>
          <div class="collapse w-100 bg-muted" id="tocCollapse">
              {{.TableOfContents}}
          </div>
        </div>

      </div>
      <div class="col-md-9 col-sm-12">
        {{ .Content }}
      </div>
    </div>
  {{ else }}
    {{ .Content }}
  {{ end}}
</div>

<script type="javascript">

</script>
{{ end }}
