<head>
  {{ hugo.Generator }} <!-- Inserts Hugo version used tom compile -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"> <!-- user-scalable prevents zooming -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- font awesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/normalize.css"> <!-- Normalize to help fix things -->
  <link rel="stylesheet" href="/css/main.css"> <!-- Main CSS Settings -->
  <link rel="stylesheet" href="/css/mobile.css"> <!-- Mobile CSS Settings, for rescaling items only -->


  {{ $title := print .Title " | " .Site.Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }} <!-- Sets Tab title, website title if home page, otherwise Page | Website -->

  <title>{{ $title }}</title>

  {{ if .Params.math}}{{ partial "math.html" . }}{{ end }} <!-- includes Katex if param is true-->
  {{ if .Params.mermaid}}{{ partial "mermaid.html" . }}{{ end }} <!-- includes Mermaid if param is true-->
</head>
