<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/"><i class="fas fa-brain fa-lg"></i></i></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"> Home</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/docs/"><i class="fas fa-diagnoses"></i></i> Diseases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dosingCalculator"><i class="fas fa-calculator"></i> Dosing Calculator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lit-reviews/"><i class="fas fa-folder"></i> Literature</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/paps/"><i class="fas fa-file-prescription"></i></i> PAPs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><i class="fas fa-user-md"></i></i> About</a>
      </li>
    </ul>
  </div>
</nav>
