{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-center jumbotron-fluid">
  <div class="container">
    <h1 class="display-2">{{ .Site.Title }}</h1>
    <p class="font-italic">{{ .Site.Params.homeText | markdownify }}</p>
  </div>
</div>

<div class="content">
  {{ .Content }}
</div>

{{ end }}
